<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd"
							xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
							xmlns="http://www.springframework.org/schema/beans">
							
							
	<bean id="bhwen" class='kr.co.softsoldesk.bean.HelloWorldEn'/>							
	<bean id="bhwko" class='kr.co.softsoldesk.bean.HelloWorldKo'/>
	
	<bean id="bsamTV" class='kr.co.softsoldesk.bean.SamSungTV'/>
	<bean id="bsolTV" class='kr.co.softsoldesk.bean.SolDeskTV'/>
</beans>
							
