<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/aop
							http://www.springframework.org/schema/aop/spring-aop.xsd"
							xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
							xmlns="http://www.springframework.org/schema/beans"
							xmlns:context="http://www.springframework.org/schema/context"
							xmlns:aop="http://www.springframework.org/schema/aop">

	<bean id='xml1' class='kr.co.softsoldesk.bean.TestBean1' />
	<bean id='xml2' class='kr.co.softsoldesk.bean.TestBean2' />
	<bean id='xml3' class='kr.co.softsoldesk.bean2.TestBean1' />
	<bean id='advisor1' class='kr.co.softsoldesk.advisor.AdvisorClass'/>

	<aop:config>
		<aop:aspect ref='advisor1'>
			<aop:pointcut expression="execution(void kr.co.softsoldesk.bean.TestBean1.method1())" id="point1"/>
			<aop:before method="beforeMethod" pointcut-ref="point1"/>
			<!--  int 1개 
			<aop:pointcut expression="execution(void kr.co.softsoldesk.bean.TestBean1.method1(int))" id="point1"/>
			<aop:pointcut expression="execution(void kr.co.softsoldesk.bean.TestBean1.method1(java.lang.String))" id="point1"/>
			<aop:pointcut expression="execution(void kr.co.softsoldesk.bean.TestBean1.method1(int,java.lang.String))" id="point1"/> -->
			
			<!-- TestBean1의 모든 메서드 중 매개변수가 없을 경우 -->
			<aop:pointcut id="point1" expression="execution(void kr.co.softsoldesk.bean.TestBean1.*(..))" />
			
			<!-- 반환 타입이 void, kr.co.softsoldesk.beans package내의 모든 class에 대해 메서드명이 method1, 매개변수는 없을 경우 -->
			<aop:pointcut id="point1" expression="execution(void kr.co.softsoldesk.bean.*.method1(..))" />
			
			<!-- 모든 패키지, 모든 클래스, 모든 메서드 -->
			<aop:pointcut expression="execution(void *.*.*(..))" id="point1"/>
			<!-- 모든 반환 타입, 패키지, 모든 클래스, 모든 메서드 -->
			<aop:pointcut expression="execution(* *.*.*(..))" id="point1"/>
		</aop:aspect>
	</aop:config>

</beans>
							
